* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-size:100%;
}
body {
  font-family: 'Lora', serif;
}
.pic {
  background-color: darkseagreen;
}
.content {
  background-color: cadetblue;
}
p {
  background-color: lightpink;
}
.bottomline {
  background-color: lightyellow;
}



